[core]
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
    symlinks = false
    ignorecase = true
    precomposeunicode = false

[remote "origin"]
    url = <https://github.com/anabelaMaciel/proyecto-final-info>
    fetch = +refs/heads/*:refs/remotes/origin/*
