{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="container py-5">
    <section class="text-center text-justify mb-5">
        <h1 class="display-4 font-weight-bold mb-4">
            Sobre XTech
        </h1>
        <p class="text-muted mb-4">
            Bienvenido a XTech, tu espacio dedicado a descubrir y explorar las últimas tendencias e innovaciones en el
            mundo de la tecnología. En un entorno donde los avances ocurren a un ritmo vertiginoso, en XTech te
            ofrecemos un lugar donde mantenerse al día nunca ha sido tan fácil ni emocionante.
        </p>
        <p class="text-muted mb-4">
            Aquí encontrarás una amplia variedad de blogs cuidadosamente elaborados, que abordan desde los desarrollos
            más recientes hasta las ideas más visionarias que están marcando el futuro. Nuestro equipo de expertos
            apasionados por la tecnología trabaja incansablemente para ofrecerte contenido fresco, actualizado y de alta
            calidad, que no solo te informe, sino que también te inspire a sumergirte en el mundo tecnológico.
        </p>
        <p class="text-muted">
            Nuestra misión es conectarte con lo más relevante del panorama actual, desglosando conceptos complejos y
            mostrando cómo la tecnología está transformando industrias, estilos de vida y la sociedad en general. En
            XTech, podrás explorar diversas categorías que cubren los avances más emocionantes del presente y el futuro.

            Te invitamos a explorar, aprender y ser parte de esta revolución digital. ¡Bienvenido a XTech, donde el
            futuro se encuentra con el presente para ofrecerte lo mejor de la tecnología!
        </p>
    </section>

    <section>
        <h2 class="h2 font-weight-bold mb-5">
            Nuestro team
        </h2>
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Anabela Maciel" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Yo.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Anabela Maciel
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Camila Falchini" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Cami.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Camila Falchini
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Nicolas Aguirre" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Nico.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Nicolas Aguirre
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Pablo Sabadini" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Pablo.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Pablo Sabadini
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Eduina Dellamea" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Inna.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Eduina Dellamea
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 6 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Dario Merentiel " class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Dario.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Dario Merentiel
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 7 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Ilena Fontana" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Ille.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Ileana Fontana
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 8 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body custom-card">
                        <img alt="Ilena Fontana" class="card-img-top rounded-circle mx-3 mt-4"
                            src="{% static 'blog/images/Robert.png' %}">
                        <div class="d-flex flex-column align-items-start">
                            <small class="card-title text-dark mt-3 fw-bold">
                            Roberto Galeano
                        </small>
                        <p class="card-text text-start text-muted my-4">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center align-self-end">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}