{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="text-center mb-5">
        <h1 class="display-4 font-weight-bold mb-4">
            Sobre XTech
        </h1>
        <p class="text-muted mb-4">
            Lorem ipsum dolor sit amet consectetur adipiscing elit nostra mattis vitae arcu. Lorem ipsum dolor sit amet
            consectetur adipiscing elit nostra.
        </p>
        <p class="text-muted mb-4">
            Lorem ipsum dolor sit amet consectetur adipiscing elit nostra mattis vitae arcu. Lorem ipsum dolor sit amet
            consectetur adipiscing elit nostra.
        </p>
        <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipiscing elit nostra mattis vitae arcu. Lorem ipsum dolor sit amet
            consectetur adipiscing elit nostra.
        </p>
    </section>
    
    <section>
        <h2 class="h2 font-weight-bold mb-5">
            Nuestro team
        </h2>
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Anabela Maciel" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/IPzWKip1InpnNdmb5DMgZ6GTTYd2TvrqLr4qB21VhJneG8yJA.jpg" />
                        <h5 class="card-title mt-3">
                            Anabela Maciel
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Camila Falchini" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/eeadydogCzvjBEcfh9u4kEO4TwT3K9ffM2l8UAUZJvjTuBvcC.jpg" />
                        <h5 class="card-title mt-3">
                            Camila Falchini
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Nicolas Aguirre" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/RWy4wwelnRwID6a0OLc0DyfxTVGq810DHCEJO0D4ttr3N4lTA.jpg" />
                        <h5 class="card-title mt-3">
                            Nicolas Aguirre
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 4 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Pablo Sabadini" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/0FHWeQfHRXpjzUMiocdlMBXMkt3XtVFUrByYvUaFFkr2N4lTA.jpg" />
                        <h5 class="card-title mt-3">
                            Pablo Sabadini
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 5 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Eduina Dellamea" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/yfPpeGhYcAsoeIR0tLT3PBtPSNd2IH1DeIZe7Uydbo4HuBvcC.jpg" />
                        <h5 class="card-title mt-3">
                            Eduina Dellamea
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 6 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Dario Galeano" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/2vmVYOyffwhd5kBkndY4Js0i6eOIKcIfB4p0Hgwg2ozM3gXOB.jpg" />
                        <h5 class="card-title mt-3">
                            Dario Galeano
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 7 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Ileana Fontana" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/Dd9uVwseYvxhFqG1QrlfmRehOKZl5VgDLaSoavmwJGVobwLnA.jpg" />
                        <h5 class="card-title mt-3">
                            Ileana Fontana
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Member 8 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <img alt="Roberto Soulmist" class="card-img-top rounded-circle mx-auto mt-4"
                            src="https://storage.googleapis.com/a1aa/image/9z1CP8WJ0rrAEhPni8l8zOeoCpK9bJ6YH6nsED4bmOy8G8yJA.jpg" />
                        <h5 class="card-title mt-3">
                            Roberto Soulmist
                        </h5>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="card-text text-muted">
                            Chaco, Argentina
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fas fa-envelope">
                                </i>
                            </a>
                            <a class="text-muted mx-2" href="#">
                                <i class="fab fa-linkedin">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}