{% extends "base.html" %}
{% block content %}
{% load static %}

<style>

    body {
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,51,0,1) 100%);
    }
</style>    

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <!-- El logo X TECH -->
    <div class="text-center mb-4">
        <h1>X TECH</h1>
    </div>

    <!-- El título de Iniciar sesión -->
    <div class="text-center mb-4">
        <h2>Iniciar sesión</h2>
    </div>

    <!-- Contenedor que envuelve el formulario para centrarlo bien -->
    <div class="login-container bg-light p-4 rounded shadow-sm" style="width: 400px; color: black;">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                <input type="email" class="form-control" id="email" placeholder="Correo">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
        </form>
        <div class="mt-3 text-center">
            <p>¿Haz olvidado tu contraseña?</p>
            <a href="#">Recuperar contraseña</a>
        </div>
    </div>
</div>

{% endblock %}
