{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    a:hover {
        color: unset !important;
        opacity: 0.8 !important;
        text-decoration: none !important;
    }
</style>
<div class="btnCrearPost">
    <a class="btn btn-success" href="{% url 'crear_post' %}">CREAR</a>
</div>
<div class="d-flex flex-wrap">
    {% for post in posts %}
        <a href="{{ post.slug }}">
            <div class="card bg-dark verde-lima mt-0 m-3" style="width: 18rem;">
                <div class="w-100 bg-black d-flex">
                    {% if post.imagen %}
                        <img style="width: 100%; height: 150px;" class="card-img-top mx-auto" src="{{ post.imagen.url }}" alt="..." height="auto">
                    {% else %}
                        <img style="width: 100%; height: 150px;" class="card-img-top mx-auto" src="{% static 'post_default.png' %}" alt="..." height="auto">
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <p class="card-text">{{ post.subtitulo }}</p>
                </div>

                <hr>
                <div class="d-flex flex-column">
                    <small class="card-title mx-3 small"><b>{{ post.usuario.username }}</b></small>
                    <small class="card-title mx-3 small">{{ post.fecha_actualizacion }}</small>
                </div>
            </div>
        </a>
        #BOTONES EDITAR ELIMINAR #CAMBIAR URL AND ID 
    {% endfor %}
</div>

{% endblock %}
