{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    html, body {
        height: 100%; 
        margin: 0;
    }

    body {
        background: linear-gradient(135deg, #1a2a1a, #000);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        text-align: center;
    }

    .card {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        margin-top: 20px;
        color: #000;
    }

    .btn-custom {
        background-color: #8bc34a;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        display: block;
        margin: 0 auto;
    }

    .btn-custom:hover {
        background-color: #7cb342;
    }

    .logo {
        font-size: 2em;
        margin-bottom: 10px;
        color: white;
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: white;
    }

    .link {
        color: #0000ff;
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }

    footer {
        flex-shrink: 0; 
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        position: relative;
        width: 100%;
    }
</style>

<div class="main-content">
    <div class="container">
        <a href="/">    
            <img class="mt-3" src="{% static 'blog/images/Logo_TF_blanco.png' %}" alt="Logo de X TECH" width="130" height="auto">
        </a>    
        <br></br>
        <div class="title">Iniciar sesión</div>
        <div class="card mx-auto">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                {% if messages %}
                    <div class="messages text-danger">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="email" class="form-label">Correo:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-custom">Iniciar sesión</button>
            </form>
            <div class="mt-3 text-center">
                <p>¿Olvidaste tu contraseña?</p>
                <a href="/contactanos" class="btn btn-transparent rounded-pill verde-lima-transparent text-light mt-3">Recuperar contraseña</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
